*{
  box-sizing: border-box;
  padding: 0;
}
body{
  justify-content:center;
  align-items: center;
  text-align: center;
}
ul li{
  display: inline;
  text-align: center;

}
a{
  display: inline-block;
  padding:auto;
  width: 5%;
  margin:32px 0;
  text-decoration: none;
  color: #333;
}
hr{
  width: 5%;
  height:30px;
  border: 3px solid black;
  margin: -56px 39.5%;
  transition: .5s ease-in-out;
}
.two:hover ~ hr{
  margin-left: 44.8%;
}
.three:hover ~ hr{
  margin-left: 50%;
}
.four:hover ~ hr{
  margin-left: 55.5%;
}
